<div class="container text-center">
<h1>About Page</h1>
<p>We are Signifex. our company focuses on creating and inclusive community 
for artists and developers to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, unde, ut consectetur voluptate qui atque? Iste, ut, voluptates veniam possimus modi praesentium fuga amet voluptatum enim fugit error cupiditate soluta.</p>
</div>